<main>
    <h1>Create category</h1>
    <form action="/admin/create/category" method="post">
        <div>
            <input type="text" name="inputCategory" id="inputCategory">
        </div>
        <button type="submit">Create</button>
    </form>
</main>