<!--
    Navigation area for admins
-->
<header id="admin-header-box">
        <h1>ADMIN</h1>
        <p>Be careful of your choices</p>
</header>
<main id="admin-main-centered-box" class="main-centered-box main-centered-menu">
    <menu>
        <a href="{{routes.admin.reports}}" class="btn btn-large btn-colors">Reports</a>
        <a href="{{routes.admin.crud}}" class="btn btn-large btn-colors">Data</a>
        <a href="#" class="btn btn-large btn-colors">Users</a>
    </menu>
</main>
