<main id="admin-main-centered-box" class="main-centered-box main-centered-menu">
    <menu>
        <nav>
            <ul>
                <li><a href="/admin/reports" id="admin-main-centered-box-ul-li-a-1" class="btn">Reports</a></li>
                <li><a href="/admin/create" id="admin-main-centered-box-ul-li-a-2" class="btn">Create</a></li>
                <li><a href="/admin/users" id="admin-main-centered-box-ul-li-a-3" class="btn">Users</a></li>
            </ul>
        </nav>
    </menu>
</main>
