<!--
    Navigation area for admins
-->
<header id="admin-header-box">
        <h1>ADMIN</h1>
        <p>Be careful of your choices</p>
</header>
<main id="admin-main-centered-box" class="main-centered-box main-centered-menu">
    <menu>
        <a href="/admin/reports/index" class="btn btn-large btn-colors">Reports</a>
        <a href="/admin/create" class="btn btn-large btn-colors">Create</a>
        <a href="/admin/users" class="btn btn-large btn-colors">Users</a>
    </menu>
</main>
