<div id="register-background">
    <div class="bg-transparency-50">
        {{#if message}}
            <div class="message_popup">
                <div><i class="bi bi-info-circle"></i></div>
                <span>{{message}}</span>
            </div>
        {{/if}}
        <main id="main-register-box" class="main-centered-box main-form-centered-box bg-transparency-50">
            <header class="main-form-centered-header">
                <div>
                    <i class="bi bi-person-circle"></i>
                </div>
            </header>
            <section>
                <form action="{{routes.login}}" method="post" autocomplete="off">
                    <section>
                        <label for="user"><i class="bi bi-person-fill"></i></label>
                        <input type="text" name="user" id="user" placeholder="user" min="5" max="20"  required>
                    </section>
                    <section>
                        <label for="password"><i class="bi bi-key-fill"></i></label>
                        <input type="password" name="password" id="password" placeholder="password" min="5" max="30" required>
                    </section>
                    <div>
                        <button class="btn btn-small btn-colors" type="submit">Login</button>
                    </div>
                </form>
            </section>
            <hr>
            <footer class="main-form-centered-footer">
                <p>Not registered yet? <a href="{{routes.register}}">Register</a></p>
            </footer>
        </main>
    </div>
</div>