<main>
    {{#each reports}}
        <div>
            <h2>{{reason}}</h2>
            <small>{{targetType}}</small>
            <a href="/admin/reports/report/{{_id}}"></a>
        </div>
    {{/each}}
</main>