<main>
{{#each posts}}
    <article>
        <a href="#">
            {{#if}}
            <img src="" alt="">
            {{/if}}
            <h1>{{this.title}}</h1>
        </a>
    </article>
{{/each}}
</main>