
/* MAIN BOX */

.main-centered-box{
    position: fixed;

    top: 45%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    padding: 10px;

    border: 1px solid var(--light-border-color);
    border-radius: 40px 40px 30px 30px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
    
}
    /* MAIN-MENU */
    .main-centered-menu{
        text-align: center;

        background-color: var(--tertiary-color);
        font-family: var(--fontMenu);
        font-size: 2em;
    }

    .main-centered-menu ul{
        list-style-type: none;
    }

    .main-centered-menu a{
        text-decoration: none;

        color: var(--secundary-color);
    }

    .main-centered-menu a:hover{
        color: var(--primary-color);
    }

/* BACKGROUND */

.bg-transparency-50{
    background-color: rgba(0, 0, 0, 0.5);
}

/* TEXT */

.txt-danger{

    font-size: 1.1em;
    color: red;
}

.txt-small{
    font-size: .67em;
}

/* BUTTON */

.btn{
    display: inline-block;

    padding: 5px 5px;

    border-radius: 15% 25%;

    cursor: pointer;
    transition: ease-in-out .3s;

    font: bold 1.1em var(--fontMenu);
}

.btn:hover{
    
    font-size: 1.2em;

    text-shadow: 1px rgba(0, 0, 0, 0.589);
    
}

/* MESSAGE */

.message_popup{
    position: absolute;

    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;

    min-width: 250px;
    padding: 3px;

    text-align: left;
    font-size: 1.5em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.445);

    color: white;
    background-color: rgb(255, 60, 60);
}

.message_popup > div{
    min-width: 30px;
    height: 100%;
}