
/* MAIN BOX */

.main-centered-box{
    position: fixed;

    top: 45%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    padding: 10px;

    border: 1px solid var(--light-border-color);
    border-radius: 40px 40px 30px 30px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
    
}
    /* MAIN-MENU */
    .main-centered-menu{
        min-width: 220px;
        height: 150px;
        padding: 20px 0px;

        background-color: black;
        font-size: 2em;
    }

    .main-centered-menu > menu{
        height: 100%;

        display: flex;

        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

/* BACKGROUND */

.bg-transparency-50{
    background-color: rgba(0, 0, 0, 0.5);
}

/* TEXT */

.txt-danger{

    font-size: 1.1em;
    color: red;
}

.txt-small{
    font-size: .67em;
}

/* BUTTON */

.btn{
    overflow: hidden;
    display: inline-block;

    border: 1px solid rgba(255, 255, 255, 0.644);
    font: bold 1.1em var(--fontMenu);

    text-decoration: none;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.btn-colors{
    color: var(--secundary-color);
    background-color: black;
}

.btn-caution{
    color: white;
    background-color: rgb(255, 224, 84);
}

.btn-danger{
    color: rgb(230, 230, 230);
    background-color: rgb(255, 82, 82);
}

.btn-small{
    padding: 3px 5px;
    border-radius: 15% 25%;
}

.btn-large{
    padding: 7px;
    border-radius: 10% 30%;
}

.btn:hover{
    font-size: 1.2em;
    text-shadow: 1px rgba(0, 0, 0, 0.589);
}

.btn-colors:hover{
    color: var(--primary-color);
}

.btn-danger:hover{
    background-color: red;
}

/* MESSAGE */

.message_popup{
    z-index: 9999;
    position: fixed;

    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;

    min-width: 250px;
    padding: 3px;

    text-align: left;
    font-size: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.445);
}

.message_popup > div{
    min-width: 30px;
    height: 100%;
}

.message_popup-success{
    color: rgb(19, 29, 18);
    background-color: rgb(60, 255, 60);
}

.message_popup-error{
    color: white;
    background-color: rgb(255, 60, 60);
}