

/* SCROLLBAR */

body::-webkit-scrollbar{
    width: 3px;
    height: 0px;

    background-color: var(--secundary-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

/* MENU */
.main-menu{
    overflow: hidden;
    position: fixed;

    width: 100%;

    font-size: 1.3em;

    background-color: var(--bg-color);
}

menu#main-top-menu{
    display: flex;
    justify-content: space-between;

    top: 0;
    padding: 5px 10px;
    border-bottom: 1px solid var(--light-border-color);
}

menu#main-top-menu div{
    display: flex;

    align-items: center;
}

menu#main-top-menu > nav{
    align-content: space-between; 

    text-align: right;

    padding-top: 5px;
}

menu#main-top-menu > nav a{

    color: var(--txt-color);
}

menu#main-bottom-menu{
    bottom: 0;

}

menu#main-bottom-menu > nav > ul{
    columns: 5;

    padding: 10px;

    list-style-type: none;
}

menu#main-bottom-menu > nav > ul > li{
    text-align: center;
}

menu#main-bottom-menu > nav > ul > li a{
    color: var(--txt-color);
}

/* REGISTER/LOGIN */

div#register-background{
    width: 100vw;
    height: 100vh;

    background: url(https://images.pexels.com/photos/312418/pexels-photo-312418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center;
    background-size: cover;
}

div#register-background > div{
    width: 100vw;
    height: 100vh;

}

.main-form-centered-header{
    position: absolute;

    left: 50%;
    top: -30px;

    transform: translate(-50%);

    font-size: 5em;
}

.main-form-centered-header > div{

    overflow: hidden;

    height: 80px;
    width: 80px;

    margin-top: 40px;

    border-radius: 50%;
}

.main-form-centered-header > div i{
    color: black;
}

.main-form-centered-box > section{
    padding-top: 80px;
}

.main-form-centered-box > section > form > div{

    margin: 10px;

    padding-right: 10px;
    
    border-radius: 50px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568);

    background-color: white;
}

.main-form-centered-box > section > form > div > label{
    padding-left: 4px;
}

.main-form-centered-box > section > form > div > input{

    height: 40px;
    width: calc(100% - 30px);

    padding-right: 10px;

    outline: 0px;

    border: 0px;
    border-radius:15px;

    font-size: 1.1em;
    
}

.main-form-centered-box > section > form > button{
    margin: 5px 50% 10px;

    transform: translate(-50%);

    border: 1px solid rgba(255, 255, 255, 0.644);

    color: var(--secundary-color);
    background-color: black;
}

.main-form-centered-box > section > form > button:hover{

    border-radius: 10px;

    border: 1px solid white;

    color: var(--primary-color);
}

.main-form-centered-box hr{

    margin-bottom: 10px;

    border: 1px solid rgb(97, 97, 97);
}

.main-form-centered-footer{
    text-align: center;
    text-shadow: 1px black;

    color: rgb(180, 180, 180);
}

.main-form-centered-footer > p > a{
    
    text-decoration: none;

    text-shadow: 1px 1px black;

    color: var(--tertiary-color);
}

.main-form-centered-footer > p > a:hover{

    color: var(--secundary-color);
}

/* ACCOUNT */

main#main-without-account{
    width: 230px;
    height: 250px;
}
    
a#main-centered-box-ul-li-a-1{top: 20%;}
a#main-centered-box-ul-li-a-2{top: 50%;}
a#main-centered-box-ul-li-a-3{top: 80%;}


/* NEW RECIPE */

main#main-new-recipe-box{
    width: 100%;

    margin-bottom: 50px;
    padding: 10px;

    text-align: center;
    font-size: 1.1em;

    color: var(--txt-color);
    background-color: var(--bg-color);
}

main#main-new-recipe-box form > div input{
    width: 50%;
}

main#main-new-recipe-box form > div textarea{
    min-width: 100%;
    max-width: 100%;
}

/* ADMIN */

    /* INDEX */

    main#admin-main-centered-box{
        width: 230px;
        height: 250px;
    }

    a#admin-main-centered-box-ul-li-a-1{top: 20%;}
    a#admin-main-centered-box-ul-li-a-2{top: 50%;}
    a#admin-main-centered-box-ul-li-a-3{top: 80%;}