*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root{
    /* BACKGROUND */
    --bg-color: white;

    /* TEXT */
    --lighter-txt-color:lightgray;
    --light-txt-color:gray;
    --txt-color: black;

    /* BORDER */
    --lighter-border-color:lightgray;
    --light-boder-color: gray;
    --border-color:black;

    /* MAIN COLORS */
    --primary-color:#F7EA19;
    --secundary-color:#F79919;
    --tertiary-color:#594114;

    /* FONTS */
    --fontText: sans-serif;
    --FontMenu: monospace;
    --fontTitle: Arial, serif;
}

html[data-theme='light']{
    --bg-color: white;

    --lighter-txt-color:lightgray;
    --light-txt-color:gray;
    --txt-color: black;

    --lighter-border-color:lightgray;
    --light-boder-color: gray;
    --border-color:black;

    --primary-color:#F7EA19;
    --secundary-color:#F79919;
    --tertiary-color:#35200d;
}

html[data-theme='dark']{

    --bg-color: black;

    --lighter-txt-color: rgb(88, 88, 88);
    --light-txt-color:gray;
    --txt-color: white;

    --lighter-border-color:rgb(88, 88, 88);
    --light-boder-color: gray;
    --border-color: white;

    --primary-color:#F7EA19;
    --secundary-color:#F79919;
    --tertiary-color:#594114;

}

body{
    width: 100vw;
    height: 100vh;

    background-color: var(--bg-color);
}

main{
    margin-top: 40px; /* So top menu don't hidde content */
}