<main>
    <form action="/posts/upload-image/{{postId}}" method="post" enctype="multipart/form-data">
        <div>
            <label for="postImage">Upload Image: </label>
            <input type="file" id="postImage" name="postImage"> 
        </div>
        <button type="submit">Enviar imagem</button>
    </form>
</main>