<main>
    {{#if post}}
        <h1>{{this.title}}</h1>

        {{#if this.imagePath}}
            <img src="/{{this.imagePath}}" alt="">
        {{/if}}

        <h2>Ingredients</h2>
        <ul>
            {{#each this.ingredients}}
                <li>{{this}}</li>               
            {{/each}}
        </ul>
    {{else}}

        <h1>Error</h1>

    {{/if}}
</main>