<main id="post_main_box">
    {{#if post}}
        <h1>{{post.title}}</h1>

        {{#if post.imagePath}}
        <div id="post_image_box">
            <img src="/{{post.imagePath}}" alt="">
        </div>
        {{/if}}

        <h2>Ingredients</h2>
        <ul>
            {{#each post.ingredients}}
                <li>{{this}}</li>               
            {{/each}}
        </ul>
    {{else}}

        <h1>Error</h1>

    {{/if}}
</main>