<!--
    Navigation area for crud
-->
<header id="admin-header-box">
    <h1>CRUD</h1>
    <p>choose what you type of data you want to change</p>
</header>

<main id="admin-main-centered-box" class="main-centered-box main-centered-menu">
    <menu>
        <a href="{{routes.admin.category.index}}" class="btn btn-large btn-colors">Category</a>

        {{#if canModifyAdmin}}
        <a href="{{routes.admin.admin.index}}" class="btn btn-large btn-colors">Admin</a>
        {{/if}}

    </menu>
</main>